/* custom css */

body {
<<<<<<< HEAD
	margin:0;
	padding:0;
	width:100%;
}
h1 {
    text-align: center;
=======
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 {
	text-align: center;
>>>>>>> FETCH_HEAD
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

li {
<<<<<<< HEAD
	list-style:none;
	width: 30%;
	padding:10px;
	margin: 0 1%;
	float: left;
}

li.one{
	 background-color: #FF80FF;
	 margin: 0 0 0 1.5%;
}

li.two{
	 background-color: #FFFF4D;
}

li.three{
	 background-color: #C2EBFF;
	 margin: 0 1% 0 0;
=======
	margin: 0 1%;
	padding: 10px;
	width: 30%;
	float: left;
	list-style: none;
}

li.one {
	margin: 0 1% 0 0;
	background-color: #FF944D;
}

li.two {
	background-color: #FFFF33;
}

li.three {
	margin: 0 0 0 1%;
	background-color: #99CCFF;
>>>>>>> FETCH_HEAD
}

h3 a {
	display: block;
	color: #222;
	text-decoration: none;
}

h3 a:hover {
	color: #FFF;
};